.form-control {
	display: block;
	width: 100%;
	//padding: 0.5rem 0.75rem;
	font-size: 1.1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #EEEEEE;
	background-clip: padding-box;
	border: 1px solid white;
	border-radius: 0rem;
	transition: border-color 0.40s ease-in-out, background-color 0.40s ease-in-out; 
	&:focus {
		color: #495057;
		background-color: #fff;
		border-color: $primary-color;
		outline: 0;
		box-shadow: none; 
	}
	select{
		height: 47px;
	}
}
